.forgotPassword-div {
    max-width: 600px;
    min-width: 300px;
}
.forgotPassword-div .sub-title{
    font-size: 22px;
}
.forgotPassword-div button{
    background-color: #721e7e;
     border: 1px solid white 
}
.forgotPassword-div button:active:hover,
.forgotPassword-div button:hover,
.forgotPassword-div button:active:focus ,
.forgotPassword-div button:active,
.forgotPassword-div button:disabled,
.forgotPassword-div button:focus {
    background-color: #721e7e !important ;
     border: 1px solid white !important ;
     box-shadow: none !important;
     outline: none !important ;
     cursor: pointer;
}


